body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
#playSpace{
    width: min(80vh, 90vw);
    aspect-ratio: 1/1;
    background-color: aqua;
    border-radius: 10px;
}
table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 90%;
    height: 90%;
}
td {
    border: 1px solid #888;
    text-align: center;
    vertical-align: middle;
    transition: background 1s, transform 1s;
    cursor: grab;
}
td.moving{
    z-index: 2
}
.filled {
    background: cornflowerblue;
    color: white;
}