body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#playSpace {
    width: min(80vh, 90vw);
    aspect-ratio: 1/1;
    background-color: slateblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playSpace{
    user-select: none;
    -moz-user-select: none;
}


#grid {
    position: relative;
    width: 600px;
    height: 600px;
}

.cell{
    position: absolute;
    transition: transform .2s ease;
    cursor: grab;
    width: 100px;
    height: 100px;
}



.score-popup {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: black;
    font-weight: bold;
    text-shadow: 0 0 1px , 0 0 2px yellow;
    animation: fadeUp 1s ease-out forwards;
}

.gemA {
    background-color: blue;

}

.gemB {
    background-color: red;

}

.gemC {
    background-color: yellow;

}

.gemD {
    background-color: green;

}

.gemE {
    background-color: orange;

}

.gemF {
    background-color: purple;

}

.gemG {
    background-color: white;

}

.gemH {
    background-color: cyan;

}

.gemI {
    background-color: grey;

}

.gemJ {
    background-color: pink;

}

.empty {
    background-color: burlywood;
}

@keyframes fadeUp {
    from {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -60px);
    }
}