body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    color: aqua;
    z-index: 100;
    
    background: linear-gradient(270deg, purple, orange);
    background-size: 400% 400%;
    
    animation: gradShift 20s ease infinite;
}

dialog {
    opacity: 90%;
    width: min(80vh, 90vw);
    height: min(80vh, 90vw);
}

#leaderboards {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 15px;
}

#alt-leaderboards {
    border-radius: 15px;
    background: #0a84ff;
}

#tabs {
    display: flex;
    gap: 5px;
    margin-bottom: 7px;
}

.tab-btn {
    background: #222;
    border: 1px solid #555;
    padding: 4px 8px;
    color: white;
    cursor: pointer;
    font-size: 12px;
}

.highlight-score {
    background-color: yellow;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 3px;
}

.player-rank {
    margin-top: 5px;
    font-style: italic;
}

.tab-btn.active {
    background: #0a84ff;
}

.lb-tab {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 6px;
    border-radius: 6px;
    max-height: 300px;
    overflow-y: auto;
    font-size: 18px;
    color: rgb(38, 40, 155);
}

.lb-tab.active {
    display: block;
}

.buttons {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#game {
    position: relative;
    display: inline-block;
    user-select: none;
    -moz-user-select: none;
}

#playSpace {
    width: min(80vh, 90vw);
    height: min(80vh, 90vw);
    aspect-ratio: 1/1;
    background-color: slateblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px 30px rgba(106,90,205,0.5);
}


#ui,
#timer-ui,
#pause-ui {
    width: min(25vh, 15vw);
    height: min(25vh, 15vw);
    position: absolute;
    background-color: blueviolet;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 50px 30px rgba(106,90,205,0.5);
}

#ui {
    top: 0;
    left: 100%;
}

#timer-ui {
    bottom: 0;
    left: 100%;
}

#pause-ui {
    bottom: 45%;
    left: 100%;
}


#grid {
    position: relative;
    width: 600px;
    height: 600px;
}

.cell {
    position: absolute;
    transition: transform .2s ease;
    cursor: grab;
    width: 100px;
    height: 100px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-button {
    width: 45%;
    height: auto;
}

.score-popup {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: black;
    font-weight: bold;
    text-shadow: 0 0 1px, 0 0 2px yellow;
    animation: fadeUp 1s ease-out forwards;
}

.time-popup {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    font-size: 2em;
    color: black;
    font-weight: bold;
    text-shadow: 0 0 1px, 0 0 2px lime;
    animation: fadeUp 1s ease-out forwards;
}

.bad-time-popup {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    font-size: 2em;
    color: black;
    font-weight: bold;
    text-shadow: 0 0 1px, 0 0 2px red;
    animation: fadeDown 1s ease-out forwards;
}

.rulesBox {
    border-radius: 10px;
    background-color: #FFB343;
}

#example-box {
    display: flex;
}

#example-box table td {
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    padding: 0;
    margin: 0;
    line-height: 0;
}

#example-box table td img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


#RulesD p img {
    height: 3em;
    width: auto;
    vertical-align: middle;
}

.rulesBox::backdrop {
    background: rgba(0, 0, 0, 0.6);
    transition: background 0.3s ease;
}

.gemA {
    background-image: url("../resources/GemA.png");
}

.gemB {
    background-image: url("../resources/GemB.png");
}

.gemC {
    background-image: url("../resources/GemC.png");
}

.gemD {
    background-image: url("../resources/GemD.png");
}

.gemE {
    background-image: url("../resources/GemE.png");
}

.gemF {
    background-image: url("../resources/GemF.png");
}

.gemG {
    background-image: url("../resources/GemG.png");
}

.gemH {
    background-image: url("../resources/GemH.png");
}

.gemI {
    background-image: url("../resources/GemI.png");
}

.gemJ {
    background-image: url("../resources/GemJ.png");
}

.cell.locked {
    background: #333;
    border: 2px solid red;
}

.lock-toast {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: #222;
    color: goldenrod;
    border-radius: 12px;
    box-shadow: 0 0 10px black;
    z-index: 99999;
}


@keyframes fadeUp {
    from {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -60px);
    }
}

@keyframes fadeDown {
    from {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    to {
        opacity: 0;
        transform: translate(-50%, 60px);
    }
}

@keyframes gradShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@media (max-width: 1200px) {

    #ui,
    #timer-ui,
    #pause-ui {
        left: 90%;
        /* move UI closer to play area */
        margin-left: 0;
        /* cancel extra margin */
    }
}

@media (max-width: 900px) {

    #ui,
    #timer-ui,
    #pause-ui {
        left: 85%;
        opacity: 90%;
    }

    #leaderboards {
        visibility: hidden;
    }
}